.app-header {
    height: 44px;
    background-color: rgb(41, 39, 39);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: $clr1;
            font-size: 1.5em;
            font-weight: 500;
        }

        nav {
            a {
                margin-inline-start: 15px;
                color: $clr2;

                &.active {
                    color: $clr1;
                }
            }
        }
    }
}