.watcher-index {
    background-color: $clr3;
    color: $clr2;
    text-align: center;
    padding: 100px 0;

    h1 {
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: unset;
    }

    .watcher-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0 10%;

        .watcher-preview {
            padding: 10px;
            margin: 0 10px;
            cursor: pointer;

            img {
                border-radius: 4px;
            }

            p {
                color: grey;
            }

            &:hover {
                img {
                    border: 2px solid $clr2;
                }

                p {
                    color: $clr2;
                }
            }
        }
    }

    .add-btn{
        background-color: inherit;
        border: 1px solid grey;
        color: grey;
        margin: 2em 0 1em;
        padding: 0.5em 1.5em;
        border-radius: 0;
        &:hover{
            color: $clr2;
            border-color: $clr2;
        }
    }
}