.watcher-index {
    background-color: $clr3;
    color: $clr2;
    text-align: center;
    padding: 100px 0;

    h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .watcher-list {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        padding: 0 10%;

        .watcher-preview {
            padding: 10px;
            margin: 0 10px;

            img {
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    border: 2px solid $clr2;
                }
            }
        }
    }
}